/* Tooltip Styles */
.tooltip {
    background-color: rgba(255, 255, 255, 0.9); /* More opacity for better readability */
    border: 2px solid #666; /* Darker border for contrast */
    padding: 10px; /* More padding for better spacing */
    position: absolute;
    border-radius: 8px;
    pointer-events: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    font-size: 14px; /* Standard font size */
    color: #333; /* Darker text for better readability */
}

/* Table Styles */
.table {
    font-size: 0.85em; /* Slightly larger for readability */
    color: #333; /* Darker color for contrast */
    border-collapse: collapse; /* Collapse borders for a cleaner look */
}

/* Paragraph Styles */
p {
    text-align: left;
    line-height: 1.5; /* Increased line height for readability */
    color: #333; /* Darker color for contrast */
    font-size: 16px; /* Standard font size */
}

/* Axis Styles */
.x-axis, .y-axis {
    font-size: 0.85em; /* Slightly larger for readability */
    color: #fff; /* Color set for consistency */
}

/* Names Background Styles */
#names-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* To keep it in the background */
    color: #3d3d3d;
    font-family: 'Merriweather'; /* Modern font-family */
    overflow: hidden;
    line-height: 1.5; /* Increased line height for readability */
}

.visualization-title {
    font-size: 24px; /* Slightly larger for impact */
    text-align: center;
    color: white;
    /*margin-bottom: 10px; !* Adjusted margin *!*/
    margin-top: 30px;
}

.select-box {
    border: 1px solid #fff; /* Visible border for clarity */
    border-radius: 4px; /* Rounded corners */
    padding: 5px 10px; /* Padding for better touch area */
    font-size: 16px; /* Larger font size for readability */
    font-family: inherit;
    color: white;
    background: #444; /* Dark background for contrast */
    appearance: none; /* Standardizes the appearance across browsers */
    cursor: pointer; /* Indicates that it's selectable */
}

/* Axis Title Styles */
.x-axis-title, .y-axis-title {
    fill: #ffffff;
    font-size: 16px; /* Slightly larger for readability */
    font-family: 'Merriweather'; /* Modern font-family */
}

/* Axis Path and Line Styles */
.x-axis path, .y-axis path, .x-axis line, .y-axis line {
    fill: none;
    stroke: #ffffff;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

/* Victim Name Styles */
.victimName {
    display: inline;
    font-size: 14px; /* Slightly larger for readability */
    color: #5e5c5c; /* Lighter color for contrast */
}

/* Explanation style */
.explanation {
    background-color: rgba(249, 249, 249, 0.5); /* Light background for the text */
    color: #333; /* Dark text color for readability */
    padding: 4vh 2vw; /* Adequate padding around the text */
    font-size: 1.2em; /* Slightly larger font size */
    line-height: 1.6; /* Comfortable line spacing */
    border-radius: 8px; /* Rounded corners */
}

.snap-container {
    scroll-snap-type: y mandatory; /* Enables vertical scroll snapping */
    overflow-y: scroll; /* Enables scrolling */
    height: 100vh; /* Full viewport height */
}

.snap-section {
    height: 100vh; /* Full viewport height */
    scroll-snap-align: start; /* Snaps to the start of the section */
    display: flex;
    justify-content: center;
    align-items: center; /* Center content */
    opacity: 0; /* Hide sections by default */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.snap-section.visible {
    opacity: 1; /* Show sections when visible */
}

.snap-section.paragraph {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.visualization {
    text-align: center;
    width: 100%;
    height: 100%;
}

/* Body Styles */
body {
    background: rgba(16, 16, 16, 0.9);
    padding: 1vh 1vw;
    font-family: 'Merriweather'; /* Consistent font-family */
    color: #fff; /* Consistent text color */
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
}

/* Heading Styles */
h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 10px; /* Adjusted margin */
    margin-top: 0;
}

/* Header Styles */
.header {
    color: white;
    padding: 10px 20px;
    text-align: left;
    font-family: 'Merriweather', serif; /* Serif font-family */';
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.nav-bar ul li {
    padding: 0 15px;
}

.nav-bar a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* Footer Styles */
.footer {
    background-color: #f2f2f2;
    color: #666;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    border-top: 1px solid #ccc;
}

.footer p {
    margin: 0;
}


/* Hover Effects */
.nav-bar a:hover {
    color: #cc0000; /* CNN Red */
}

/* Responsive Design */
@media (max-width: 600px) {
    .nav-bar ul {
        flex-direction: column;
        align-items: start;
    }

    .nav-bar ul li {
        padding: 5px 0;
    }
}

.rounded-div {
    border-radius: 20px;
    background: rgba(94,92,92,0.8);
    backdrop-filter: blur(2px);
    width: 95%;
    height: 75%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.rounded-div.filter-group {
    border-radius: 20px;
    background: rgba(94,92,92,0.8);
    backdrop-filter: blur(2px);
    width: 95%;
    height: 10%;
    /*margin-bottom: 5%;*/
    margin-top: -5%;
    margin-right: -5%;
}

.filter-title{
    padding-top: 10px;
}


.btn-group .filter-btn.active {
    background-color: #530808 !important;
    border-color: whitesmoke !important;
    color: white;
}

.btn-group .filter-btn.active:hover {
    background-color: #fd3434 !important;
    border-color: whitesmoke !important;
    color: white;
}

.filter-btn {
    background-color: #d1d3d5 !important; /* Light grey */
    border-color: #ced4da !important; /* Slightly darker grey border */
    color: #6c757d;
}

.btn-group .filter-btn:hover {
    background-color: #fd3434 !important; /* Light grey */
    border-color: #ced4da !important; /* Slightly darker grey border */
    color: #6c757d;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-group {
    height: 62px;
}

#animatedBarChartButton {
    background-color: #d1d3d5 !important; /* Light grey */
    border-color: #ced4da !important; /* Slightly darker grey border */
    color: #6c757d;
}



/* Bar Entrance Animation */
.bar-enter {
    height: 0;
}

.bar-enter-active {
    height: var(--actual-height); /* Replace with the actual height calculation */
    transition: height 0.5s ease-in;
}

/* Tooltip Fade-In and Fade-Out */
.tooltip {
    transition: opacity 0.5s ease-in-out;
    opacity: 0; /* Initially hidden */
}

.tooltip-show {
    opacity: 1;
}

/* Legend Pop-In Animation */
.legend {
    opacity: 0;
    transform: translateX(-10px);
    transition: all 0.5s ease-in;
}

.legend-active {
    opacity: 1;
    transform: translateX(0);
}

#stickyDiv {
    position: fixed;
    bottom: -30px;
    z-index: 1000;
}