/* Tooltip Styles */
.tooltip {
    background-color: rgba(255, 255, 255, 0.9); /* More opacity for better readability */
    border: 2px solid #666; /* Darker border for contrast */
    padding: 10px; /* More padding for better spacing */
    position: absolute;
    border-radius: 8px;
    pointer-events: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    font-size: 14px; /* Standard font size */
    color: #333; /* Darker text for better readability */
}

/* Table Styles */
.table {
    font-size: 0.85em; /* Slightly larger for readability */
    color: #333; /* Darker color for contrast */
    border-collapse: collapse; /* Collapse borders for a cleaner look */
}

/* Paragraph Styles */
p {
    text-align: left;
    line-height: 1.5; /* Increased line height for readability */
    color: #333; /* Darker color for contrast */
    font-size: 16px; /* Standard font size */
}

/* Axis Styles */
.x-axis, .y-axis {
    font-size: 0.85em; /* Slightly larger for readability */
    color: #fff; /* Color set for consistency */
}

/* Names Background Styles */
#names-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* To keep it in the background */
    color: #3d3d3d;
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Modern font-family */
    overflow: hidden;
    line-height: 1.5; /* Increased line height for readability */
}

/* Calendar Styles */
#calendarDiv {
    width: 100%;
    height: 100%;
}

#calendarTitle {
    font-size: 24px; /* Slightly larger for impact */
    text-align: center;
    color: white;
    margin-bottom: 10px; /* Adjusted margin */
    margin-top: 30px;
}

#calendarYearSelect {
    border: 1px solid #fff; /* Visible border for clarity */
    border-radius: 4px; /* Rounded corners */
    padding: 5px 10px; /* Padding for better touch area */
    font-size: 16px; /* Larger font size for readability */
    font-family: inherit;
    color: white;
    background: #444; /* Dark background for contrast */
    appearance: none; /* Standardizes the appearance across browsers */
    cursor: pointer; /* Indicates that it's selectable */
}

/* Axis Title Styles */
.x-axis-title, .y-axis-title {
    fill: #ffffff;
    font-size: 16px; /* Slightly larger for readability */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Axis Path and Line Styles */
.x-axis path, .y-axis path, .x-axis line, .y-axis line {
    fill: none;
    stroke: #ffffff;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

/* Victim Name Styles */
.victimName {
    display: inline;
    font-size: 10px; /* Slightly larger for readability */
    color: #130505; /* Lighter color for contrast */
}

/* Body Styles */
body {
    background: rgba(16, 16, 16, 0.9);
    padding: 1vh 1vw;
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Consistent font-family */
    color: #fff; /* Consistent text color */
}

/* Heading Styles */
h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 10px; /* Adjusted margin */
    margin-top: 0;
}



/* Header Styles */
.header {
    background-color: #cc0000; /* CNN Red */
    color: white;
    padding: 10px 20px;
    text-align: left;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.nav-bar ul li {
    padding: 0 15px;
}

.nav-bar a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* Footer Styles */
.footer {
    background-color: #f2f2f2;
    color: #666;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    border-top: 1px solid #ccc;
}

.footer p {
    margin: 0;
}


/* Hover Effects */
.nav-bar a:hover {
    color: #cc0000; /* CNN Red */
}

/* Responsive Design */
@media (max-width: 600px) {
    .nav-bar ul {
        flex-direction: column;
        align-items: start;
    }

    .nav-bar ul li {
        padding: 5px 0;
    }
}
